.border_bold{
font-weight: 900;
border-bottom:2px solid black ;
}
.cursor{
    cursor: pointer;
}
.back_orders{
    background-color: #E4E4E4;

}
.w_opacity{
    width: 98%;
    border-bottom: 1px solid rgb(44, 43, 43,0.3);
}
.main_border{
    border: 1px solid rgb(44, 43, 43,0.5);
}