.Forgot{
    background-color:aqua;
    width: 60%;
    height: 70vh;
    transform: translate(30%,15vh);
    overflow: hidden;
    border: 10px solid aqua;
}
.forgot_form{
    width: 80%;
    background-color:white;
    float: right;
    height:100%;
    
}
.row2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 5%;
}
.instruction{
    opacity: 0.6;
    align-self: flex-start;
    padding-left: 10%;
}
.forgot_btn{
    background-color: aqua !important;
    border: 1px aqua !important;
    display: inline-block !important;
}