.dashboard{
    border: 1px solid rgb(49, 49, 49,0.5);
    width: 99%;
    border-left: none;
    border-top-right-radius: 10px;  
    border-bottom-right-radius:10px ;
    float: left;
    height: fit-content;
}

.dashIcon{
width:90%;
display: flex;
flex-direction: row;

}
.amazon{
    margin-top: -20%;
}
.price{
    width: 250px;
    height: 70px;
    background-color: #07ABA1;
    margin-right: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:10px ;
    color: antiquewhite;
}
.sale{
    background-color: #0082BC !important;
}
.profit{
 background-color: #164800 !important;
}
.orders{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    background-color: #07ABA1 !important;
    border-radius: 10px;
    color: white;
    padding: 10px;
}
.suborders{
    display: flex;
    flex-direction: row;
    align-items: center;
    height:55px;
    padding: 2px;
     width: 90%;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
}
.subCol{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5px;
    font-weight: 500;
    font-size:small;
   
}
.shipment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    align-self: flex-end;
    margin-right: -30px;

}
.ship1{
    margin-top: -12px;
    margin-bottom: 0px;
     font-size: x-small;
}
.ship2{
     margin-top: -12px;
    margin-bottom: 0px;
    font-size: x-small;
}
.ship3{
    margin-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px white;
    color:red;
     font-size: x-small;
}