.side_btn{
    display: flex;
    align-self: center;
    border-radius: 17px !important;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px #07aba1 !important;
    background-color: #07aba1 !important;
    margin-left: -40%;
    color: white !important;
}
.row_side{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}
.background{
    background-color: #f5f5f5 !important;
    height: 100vh;
}